* {
    box-sizing: border-box;
}

#container {
    border: 1px solid red;
    width: 480px;
    height: 480px;
    display: flex;
}

.row {
    flex: 1;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

.cell {
    flex: 1;
    border: 1px solid purple;
}

.hoverCell:hover {
    background-color: aquamarine;
}